/*Profile info*/
img {
  max-width: 100%;
  border-radius: 5px;
}

.myProfileContainer {
  background-color: var(--lightpurple-colour);
  margin: auto -20px;
  padding: 20px;
  display: flex;
  gap: 30px;
  align-items: center;
}

.myProfileInfo {
  display: flex;
  flex-direction: column;
  flex: 2;
  margin-right: 30px;
}

.myProfileInfo p {
  margin-top: -10px;
  margin-bottom: 20px;
}

.myProfileImage {
  flex: 1;
  margin-left: 30px;
}

.myAccountButton {
  max-width: 150px;
}

/*Sell game*/
.sellGameBackground {
  background-color: var(--lightyellow-colour);
  margin: 20px auto;
  padding: 20px 40px;
  border-radius: 5px;
}

#price,
#year {
  max-width: 40%;
}

.sellGameAccountImage {
  display: none;
}

.sellGameBackground h2,
.activeAdsContainer h2 {
  text-align: center;
}

.activeAdsContainer h2 {
  margin-top: 40px;
}

.buttonUploadImage {
  margin-top: 20px;
  margin-bottom: 20px;
  border: none;
  background-color: var(--yellow-colour);
}

.editAdButton {
  max-width: 70px;
}

@media only screen and (min-width: 500px) {
  .myProfileInfo {
    margin-left: 20px;
  }

  .sellGameBackground {
    max-width: 450px;
  }

  .formSellGame {
    max-width: 300px;
    margin: auto;
  }

  .buttonCreateAd {
    margin: 40px auto;
    padding: 15px 30px;
  }
}

@media only screen and (min-width: 600px) {
  .myProfileContainer {
    margin: auto;
    max-width: 480px;
  }

  .myProfileImage {
    max-width: 140px;
    margin-right: 50px;
  }
}

@media only screen and (min-width: 800px) {
  .myProfileContainer {
    padding: 40px 20px;
  }

  .myProfileImage img {
    max-width: 150px;
    margin-left: 20px;
  }

  .productsContainer {
    max-width: 1000px;
    margin: 40px auto;
  }
}

@media only screen and (min-width: 1200px) {
  .sellGameBackground {
    max-width: 1000px;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .sellGamesAccountFlex {
    display: flex;
    flex-direction: row;
    gap: 50px;
  }

  .sellGameAccountImage {
    display: inline;
    flex: 1;
    margin: auto;
    margin-top: 50px;
  }

  .sellGameAccountForm {
    flex: 1;
  }

  .form-wrapper {
    min-width: 300px;
  }

  .sellGameAccountImage img {
    max-width: 70%;

    border-radius: 100%;
  }
}
