.fa-arrow-alt-circle-left {
  position: absolute;
  top: 20px;
}

.fa-user-ninja {
  font-size: 2rem;
}

a {
  color: var(--darkblue-colour);
}

h2 {
  text-align: center;
}

/*Order information*/

img {
  max-width: 100%;
}

.orderBackground {
  background-color: var(--lightpurple-colour);
  margin: auto -20px;
  padding: 20px 40px;
}

.orderContainer {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-top: 50px;
}

.orderImage {
  flex: 5;
}

.orderDetails {
  flex: 5;
}

.removeItem {
  flex: 1;
  align-self: flex-start;
  margin-top: 20px;
  font-size: 1.2rem;
  cursor: pointer;
}

.quantityContainer {
  display: flex;
  align-items: center;
  gap: 10px;
}

#quantity {
  min-width: 50px;
  border: 1px solid var(--darkblue-colour);
  border-radius: 5px;
}

.orderTotal {
  margin: 50px auto;
  text-align: center;
}

/*Shipping information*/
.form-wrapper {
  max-width: 270px;
  margin: auto;
}

.formSmallFields {
  display: flex;
  gap: 20px;
  justify-content: left;
}

.zipContainer,
.cityContainer {
  display: flex;
  flex-direction: column;
}

#zipcode,
#city {
  max-width: 110px;
}

.shippingContainer {
  margin-top: 50px;
  margin-bottom: 50px;
}

/*Payment information*/
.payment-methods {
  display: flex;
  justify-content: center;
  font-size: 3rem;
  margin: auto;
  gap: 10px;
}

.payment-alternative {
  padding: 5px 15px;
  border: 1px solid var(--lightgrey-colour);
  border-radius: 5px;
  color: var(--darkblue-colour);
}

.selectDate {
  display: flex;
  flex-direction: column;
}

#expiredate {
  max-width: 50%;
  padding: 5px 10px;
}

#cvv {
  max-width: 20%;
}

/*placeorder*/

.cta_placeOrder {
  text-decoration: none;
  margin: 50px 0;
  color: var(--white-colour);
  border-radius: 5px;
  padding: 20px;
  background-color: var(--darkorange-colour);
}

.fa-shipping-fast {
  color: var(--white-colour);
}

@media only screen and (min-width: 500px) {
  img {
    width: 200px;
  }

  .orderContainer {
    width: 420px;
    margin: 50px auto;
  }
}

@media only screen and (min-width: 1000px) {
  .flexContainer {
    display: flex;
    flex-direction: row-reverse;
  }

  .flexContainerOrder {
    flex: 1;
  }

  .flexContainerForms {
    flex: 2;
  }

  img {
    width: 170px;
  }

  .orderContainer {
    width: 350px;
    margin: 50px auto;
  }

  .orderBackground {
    border-radius: 5px 0px 0px 5px;
    position: -webkit-sticky;
    position: sticky;
    top: 20px;
  }

  .paymentContainer {
    margin-top: 100px;
    margin-bottom: 80px;
  }

  .cta_placeOrder {
    margin-top: 90px;
  }
}
