a {
  color: var(--darkblue-colour);
}

.ContactImageContainer,
.SignUpImageContainer {
  background-repeat: no-repeat;
  height: 150px;
  margin: auto -20px;
  background-size: 100%;
}

.formbackground {
  background-color: var(--lightyellow-colour);
  margin: 0 -20px;
  padding: 20px 20px 50px 20px;
}

footer {
  display: none;
}

/*Contact*/

.fa-envelope {
  padding-left: 20px;
}

.contact-paragraph {
  text-align: center;
  margin: auto;
}

.ContactImageContainer {
  background-image: url(../../images/contact.jpg);
  background-position-y: -280px;
}

.cta-send {
  position: relative;
  margin-top: 30px;
  margin-bottom: 50px;
}

/*Sign up*/
.SignUpImageContainer {
  background-image: url(../../images/signup.jpg);
  background-position-y: -230px;
}

.cta-createAccount {
  margin-top: 40px;
}

.cta_signUp {
  text-decoration: none;
}
