a {
  text-decoration: none;
  color: var(--darkblue-colour);
}

.productsContainer {
  margin: auto 20px;
  display: flex;
  flex-direction: column;
}

.shopProductFrame {
  display: flex;
  flex-direction: row;
  margin: 10px auto;
  gap: 20px;
  border: 1px solid var(--lightgrey-colour);
  border-radius: 5px;
  padding: 20px 10px;
}

.shopProductImage {
  flex: 2;
  margin: auto;
  margin-left: 10px;
}

.shopProductInfo {
  flex: 3;
  padding-left: 20px;
  padding-buttom: 10px;
}

img {
  max-width: 100%;
}

@media only screen and (min-width: 500px) {
  img {
    max-width: 80%;
    margin-left: 30px;
  }

  .cta_viewGame {
    position: absolute;
    margin-top: 15px;
  }
}

@media only screen and (min-width: 600px) {
  img {
    margin-left: 50px;
  }

  .shopProductInfo {
    line-height: 20px;
    margin-left: 40px;
  }

  .cta_viewGame {
    margin-top: 25px;
  }
}

@media only screen and (min-width: 700px) {
  img {
    max-width: 60%;
    margin-left: 70px;
  }
}

@media only screen and (min-width: 825px) {
  .productsContainer {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
    margin-bottom: 50px;
  }

  img,
  .shopProductInfo {
    margin-left: 0;
  }

  img {
    max-width: 100%;
  }

  .shopProductInfo {
    line-height: 15px;
  }

  .cta_viewGame {
    margin-top: 5px;
  }

  .shopProductFrame {
    max-width: 330px;
    height: 150px;
  }
}
