main {
  background-color: rgb(235, 235, 235);
  margin: -22px -20px;
  padding-bottom: 50px;
}

h1 {
  padding-top: 40px;
}

.filterContainer {
  background-color: var(--lightgrey-colour);
  text-align: center;
  padding: 20px;
  margin: 30px 80px;
  border-radius: 3px;
}

.sortAZ {
  border: none;
  color: var(--white-colour);
  background-color: var(--darkpurple-colour);
  border-radius: 3px;
  padding: 7px 10px;
  margin: auto;
}

.shopContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 80%;
  margin: auto;
}

.gameCard {
  display: flex;
  flex-direction: column;
  max-width: 200px;
  margin: 30px;
  text-decoration: none;
  box-shadow: 0px 0px 10px var(--lightgrey-colour);
}

.details {
  padding: 0px 15px 10px 15px;
  background: var(--white-colour);
  margin-top: -4px;
}

img {
  max-width: 200px;
}

.saleLabelShop {
  position: absolute;
  margin-top: -15px;
  margin-left: 10px;
}
