@import 'imports/variables.css';

@font-face {
  font-family: 'Closeness Outline';
  src: url('../Fonts/closeness.outline-regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat Regular';
  src: url('../Fonts/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat SemiBold';
  src: url('../Fonts/Montserrat-SemiBold.ttf') format('truetype');
}

/*layout*/
body {
  background: var(--gradient-colour);
  height: 100%;

  background-repeat: no-repeat;
  background-attachment: fixed;
}

.white-background {
  margin: 30px;
  padding: 30px 20px 20px 20px;
  min-height: 300px;
  background-color: var(--white);
  border-radius: 20px;
}

/*Home page*/
.image-home {
  max-width: 100%;
}
