@import 'imports/navigation.css';
@import 'imports/variables.css';
@import 'imports/typography.css';

@font-face {
  font-family: 'BebasNeue Regular';
  src: url('../fonts/BebasNeue-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat Regular';
  src: url('../fonts/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat SemiBold';
  src: url('../fonts/Montserrat-SemiBold.ttf') format('truetype');
}

/*layout*/
body {
  background: var(--white-colour);
  margin: 20px;
}

.fas {
  color: var(--darkblue-colour);
}

footer {
  background-color: var(--darkblue-colour);
  position: fixed;
  bottom: 0px;
  width: 100%;
  margin: auto -20px;
  padding: 10px;
}
