@import 'imports/navigation.css';
@import 'imports/variables.css';
@import 'imports/typography.css';

@font-face {
  font-family: 'BebasNeue Regular';
  src: url('../fonts/BebasNeue-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat Regular';
  src: url('../fonts/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat SemiBold';
  src: url('../fonts/Montserrat-SemiBold.ttf') format('truetype');
}

/*layout*/
body {
  background: var(--white-colour);
  margin: 20px;
}

.fas {
  color: var(--darkblue-colour);
}

.cta_orange {
  background-color: var(--darkorange-colour);
  color: white;
  border: none;
  border-radius: 3px;
  padding: 7px 25px;
}

footer {
  background-color: var(--darkblue-colour);
  position: relative;
  bottom: 0px;
  width: 105%;
  margin-right: -20px;
  margin-left: -20px;
  padding: 10px;
}

/*laptop*/
/*
.form-wrapper {
  display: flex;
  flex-direction: column;
}
*/
