.search {
  margin: 10px -20px;
  padding: 10px;
  height: 40px;
  background-color: var(--darkblue-colour);
}

.search-input {
  position: relative;
  display: flex;
}

.search-icon {
  position: absolute;
  right: 0;
  top: 5px;
  padding: 3px 10px;
  cursor: pointer;
  font-size: 1.2rem;
}

.search-input input {
  border: 3px solid var(--darkblue-colour);
  border-radius: 5px;
  width: 100%;
  height: 30px;
  position: relative;
  background-color: var(--white-colour);
  padding-left: 10px;
}

.logo {
  max-width: 80px;
  display: block;
  display: flex;
  margin: auto;
  margin-top: -10px;
  position: relative;
}

.fa-bars,
.fa-shopping-cart,
.fa-user-ninja {
  font-size: 1.4rem;
}

nav,
#hamburger-menu {
  display: none;
}

.hamburger-label {
  float: left;
  color: var(--darkblue-colour);
  padding: 10px;
  margin-top: -50px;
  font-size: 1.5rem;
  position: relative;
  z-index: 100;
}

#hamburger-menu:checked ~ nav {
  display: inline-block;
  float: left;
  position: fixed;
  margin-top: 50px;
  z-index: 10;
}

nav li {
  display: block;
  margin: 20px 20px;
}

.nav_textlinks {
  border: 2px solid var(--darkblue-colour);
  padding: 15px;
  background-color: var(--white-colour);
  margin-top: -40px;
  margin-left: -20px;
  z-index: 150;
}

.nav_icons {
  position: absolute;
  top: 20px;
  right: 25px;
}

.fa-shopping-cart {
  margin-left: 20px;
}

/* laptop */
/* 
nav {
  margin-top: 30px;
  margin-left: 5px;
}

.nav_textlinks {
  flex: 1;
  float: left;
  padding: 0 10px;
  padding: 1rem;
}

.nav_textlinks a {
  padding: 1rem;
}

.signin_button {
  float: right;
  border: 2px solid var(--orange-colour);
  padding: 8px 25px;
  margin-top: -10px;
  margin-right: 20px;
}

*/
