body {
  font-family: 'Montserrat Regular', Verdana, Geneva, Tahoma, sans-serif;
  color: var(--darkblue-colour);
  font-size: 0.75rem;
}

h1 {
  font-family: 'BebasNeue Regular', Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 1.8rem;
}

h2 {
  font-size: 1rem;
}

a {
  text-decoration: none;
  color: var(--darkblue-colour);
}

.label_new,
.productPrice,
.labelSmall,
.cta_orange,
.cta_purple,
.cta_placeOrder,
.ctaHome,
.homeLabel,
.shopPrice,
.signUpTextButton,
.contact-paragraph p,
form label,
.orderTotal {
  font-family: 'Montserrat SemiBold', Verdana, Geneva, Tahoma, sans-serif;
}

.cta_orange,
.cta_purple,
.cta_placeOrder,
.ctaHome,
.homeLabel {
  letter-spacing: 1px;
  text-align: center;
}

.homeLabel,
.label_new,
.labelSmall {
  text-transform: uppercase;
}

.cta_Game,
.labelSmall,
form label,
.shopProductInfo,
.myAccountButton {
  font-size: 0.75rem;
}

.cta_viewGame,
.contact-paragraph p {
  font-size: 0.8rem;
}

.addToCartButton,
.cta_placeOrder,
.ctaHome {
  font-size: 0.85rem;
}

.homeLabel,
.newsLink p {
  font-size: 0.9rem;
}

.shopPrice {
  font-size: 0.95rem;
}

.nav_textlinks a {
  text-decoration: none;
  font-size: 1rem;
}

.productPrice,
.orderTotal {
  font-size: 1.1rem;
}

footer {
  color: var(--white-colour);
  font-size: 0.5rem;
  text-align: center;
}

@media only screen and (min-width: 600px) {
  .shopProductInfo {
    font-size: 0.85rem;
  }
}

@media only screen and (min-width: 800px) {
  body {
    font-size: 1rem;
  }

  h1 {
    font-size: 2.2rem;
  }

  h2 {
    font-size: 1.2rem;
  }

  .shopProductInfo {
    font-size: 0.9rem;
  }

  form label {
    font-size: 0.85rem;
  }

  footer {
    font-size: 0.75rem;
  }
}

@media only screen and (min-width: 825px) {
  .shopProductInfo {
    font-size: 0.8rem;
  }

  .shopPrice {
    font-size: 0.95rem;
  }
}

@media only screen and (min-width: 900px) {
  .newsInfo p {
    font-size: 0.75rem;
  }
}

@media only screen and (min-width: 1000px) {
  .nav_textlinks a,
  .signUpTextButton {
    font-size: 0.85rem;
  }
}

@media only screen and (min-width: 1200px) {
  .nav_textlinks a,
  .signUpTextButton {
    font-size: 1rem;
  }

  .addToCartButton {
    font-size: 1rem;
  }

  .productPrice {
    font-size: 1.3rem;
  }

  .newsLink p {
    font-size: 1rem;
  }
}
