body {
  font-family: 'Montserrat Regular', Verdana, Geneva, Tahoma, sans-serif;
  color: var(--darkblue-colour);
  font-size: 0.75rem;
}

h1 {
  font-family: 'BebasNeue Regular', Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 1.8rem;
}

h2 {
  font-size: 1rem;
}

.productPrice {
  font-size: 1.1rem;
}

.cta_orange,
.cta_purple,
.cta_placeOrder {
  font-family: 'Montserrat SemiBold';
  letter-spacing: 1px;
  text-align: center;
}

.cta_orange,
.cta_purple {
  font-size: 0.7rem;
}

.addToCartButton,
.cta_placeOrder {
  font-size: 0.85rem;
}

.label_new,
.productPrice {
  font-family: 'Montserrat SemiBold';
}

.nav_textlinks a {
  text-decoration: none;
  color: var(--darkblue-colour);
  font-size: 1rem;
}

footer {
  color: var(--white-colour);
  font-size: 0.5rem;
  text-align: center;
}

/*Contact page*/
.contact-paragraph p {
  font-size: 0.8rem;
  font-family: 'Montserrat SemiBold';
}

form label {
  font-size: 0.75rem;
  font-family: 'Montserrat SemiBold';
}

/*Checkout page*/
.orderTotal {
  font-size: 1.1rem;
  font-family: 'Montserrat SemiBold';
}
