:root {
  --white-colour: #fefefe;
  --black-colour: #0e131d;
  --black-transparent: #0e131da6;
  --darkblue-colour: #1b203d;
  --darkpurple-colour: #705e78;
  --darkorange-colour: #bc5700;
  --yellow-colour: #f5e3ab;
  --lightpurple-colour: #b4aeb7;
  --lightyellow-colour: #f5eed9;
  --usedlabel-colour: #af4646;
  --newlabel-colour: #705e78;
  --errorred-colour: #b20e0e;
  --errorbackground-colour: #f6d5d6;
  --successgreen-colour: #256025;
  --successbackground-colour: #d8ffd8;
  --lightgrey-colour: rgb(226, 226, 226);
}
